<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FeelTheMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D85387191BF17A4B0020F44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D85387301BF17A4C0020F44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D853873B1BF17A4C0020F44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
